h1 {
  font-family: cursive;
  text-align: center;
}

.imagem-ton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: cursive;
}

.texto-centralizado {
  text-align: center;
}
